body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    margin: auto;
}

#logo {
    width: 150px;
    margin-bottom: 20px;
}

#login-container input {
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#login-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-container button:hover {
    background-color: #45a049;
}

#pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.pdf-page {
    position: relative;
    margin-bottom: 20px;
}

.signature-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#save-btn, #toggle-pen-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#save-btn:hover, #toggle-pen-btn:hover {
    background-color: #45a049;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
